.Ajusteswrap {
    position: relative;
    display: inline;
    width: 100%;

}

.DataEntryWrap {
    position: relative;
}

.infotextAyuda {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    margin-right: 15%; 
}

.DataEntry {
    position: relative;
    display: inline-block;
    color: rgba(77, 77, 77, 0.558);
    width: auto;
    margin-right: 5%;
    max-width: 70ch;
}

.editentry {
    position: relative;
    display: inline-block;
    width: auto;
    color: blue;
    cursor: pointer;
    transition: 0.4s;
}

.editentry:hover {
    color: darkblue;
}

.enabled {
    cursor: pointer;
    color: black;
}

.InfoSection {
    position: relative;
    display: block;
    width: 100%;
    left: 25%;
    margin-block: 2%;
    
}

.deletingWrap {
    position: relative;
    display: block;
    left: 40%;
    margin-top: 5%;
}

.DisableAccount {
    position: relative;
    display: block;
    margin-bottom: 2%;
    width: fit-content;
    background-color: rgb(95, 180, 88);
    padding: 1.5%;
    cursor: pointer;
    transition: 0.3s;
}

.DeleteAccount {
    position: relative;
    background-color: red;
    width: fit-content;
    left: 1%;
    padding: 1.5%;  
    cursor: pointer;
    transition: 0.3s;
}

.DisableAccount:active {
    background-color: rgb(70, 132, 64);
}

.DeleteAccount:active {
    background-color: rgb(173, 0, 0);
}

.passwordentry {
    margin-left: 5.2%;
}