.Ajusteswrap {
  /* margin-left: min(50px, 20%); */
}

.DataEntryWrap {
  background-color: whitesmoke;
  border: solid 3px whitesmoke;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.infotextAyuda {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-right: 15%;
}

.DataEntry {
  position: relative;
  display: inline-block;
  color: rgba(77, 77, 77, 0.558);
  width: auto;
  margin-right: 5%;
  max-width: 70ch;
}

.editentry {
  position: relative;
  display: inline-block;
  width: auto;
  color: blue;
  cursor: pointer;
  transition: 0.4s;
}

.editentry:hover {
  color: darkblue;
}

.enabled {
  cursor: pointer;
  color: rgb(16, 16, 16);
}

.InfoSection {
  position: relative;
  display: block;
  width: 100%;
  left: 25%;
  margin-block: 2%;
}

.tituloAjustes {
  font-size: 25px;
  font-family: 'Bebas Neue';
  text-align: center;
  margin-top: 5px;
}
