.editentry {
  position: relative;
  display: inline-block;
  width: auto;
  color: blue;
  cursor: pointer;
  transition: 0.4s;
}

.editentry:hover {
  color: darkblue;
}

.enabled {
  cursor: pointer;
  color: rgb(16, 16, 16);
}
