@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.last_element_in_header {
    margin-right: 10px;
}
.container {
    max-width: 100%;
    overflow: auto;
    min-height: 700px;
    min-width: 700px;
    border: 1px solid steelblue;
}
.header h3{
    color: white;

}
.header h3:hover{
    text-shadow: 0 0 30px #fff;

}
.header .logo{
    position: relative;
    height: 100%;
    margin-bottom: 10px;

}
.header div .logo{
    position: relative;
    height: 10px;
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    background-color: rgb(95, 180, 88);
    height: 120px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-form {
    margin-bottom: 40px;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}

#sidebar {
    position: relative;
    width: 200px;
    height: 580px;
    background: whitesmoke;
    left: 0px;
    transition: all 500ms linear;
    padding: 0px;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: black;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(95, 180, 88, 0.6);
    text-align: center;
}



#sidebar .toggle-btn {
    position: absolute;
    left: 200px;
    cursor: pointer;
}

.card_into_side_bar {
    margin:0px ;
    padding: 0px;
    width: 100%;
    height: 80px;
}
.pp_into_side_bar_card{
    height: 100%;
    border-radius: 50%;
    margin-right: 5px;
}
.flexbox_pp_name{
    display: flex;
    width: 100%;
    height: 50px;
}
.flexbox_pp_name p{
    font-size: small;
}
.div_five_stars{
    height: 50px;
    width: auto;

}
footer {
    margin-top: 30px;
    text-align: center;
}
.flex_container_sidebar_and_content{
    display: flex;
}

/*****************************************************************************/

#inboxpage {
    display: flex;
    position: relative;
}

.pfp_Crear_publicacion{
    position: relative;
    height: 100%;
    border-radius: 20% ;
    margin-right: 5px;
    width: 250px;
    height: 250px;
    top: 105px;
    margin-right: 50px;
    margin-left: 50px;
}

.pfp_picture_publicacion {
    position: relative;
    height: 100%;
    border-bottom-left-radius: 40% ;
    margin-right: 5px;
    width: 250px;
    height: 250px;
    top: 385px;
    margin-right: 50px;
    margin-left: -300px;
    border: 4px solid  black;

}

/***Formulario****/

#problem_container {
    display: flex;
    position: relative;
}
  
  
#crear_publicacion_text {
    position: relative;
    font-size: 40px;
    margin-top: 5%;
    text-align:center;
    left: 495px;
}

#titulo_text {
    position: relative;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    left: 40px;
  
}

#all_text {
    position: relative;
    width: 400px;
    font-size: 20px;
    margin-top: 20%;
    margin-bottom: 5%;
    text-align: left;
    left: 40px;
  
}

#input {
    position: absolute;
    font-size: 20px;
    text-align: left;
    background: #bfbfbf;
    left:240px;
    color: grey;
    width: 1300px;
    height: 50px;
    border-color: transparent;
    margin-left: 150px;
}

#scroll_down {
    position: absolute;
    width: 1300px;
    height: 50px;
    background: #bfbfbf;
    left:240px;
    color: grey;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 150px;

}
  
#triangle {
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    top: -20px;
    left: 1225px;
}
  
#details_text {
    position: relative;
    width: 400px;
    font-size: 20px;
    margin-top: 20%;
    margin-bottom: 5%;
    text-align: left;
    left: 40px;
  
}
  
#input_descr {
    position: absolute;
    font-size: 20px;
    text-align: left;
    background: #bfbfbf;
    left:240px;
    color: grey;
    width: 1300px;
    height: 200px;
    border-color: transparent;
    margin-left: 150px;
}
  
#publicacion_btn {
    position: relative;
    font-size: 20px;
    margin-top: 60%;
    text-align: center;
    left: 630px;
    background: rgb(95, 180, 88);
    height: 40px;
    width: 120px;
    border-color: transparent;
}
  
/****Boton Deslizable***/
:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button {
    position: relative;
    margin-top: -40%;
    margin-bottom: 50%;
    left: -300px;
    
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}

#switch_text{
    position: relative;
    width: 400px;
    font-size: 15px;
    margin-top: -10.5%;
    margin-bottom: 5%;
    text-align: left;
    left: 90px;
  
}

.pfp_destacado{
    position: relative;
    height: 100%;
    border-radius: 20% ;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    top: -48px;
    margin-right: 50px;
    margin-left: 50px;
    left: 205px;
}