@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
}

.all-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.all-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.last_element_in_header {
  margin-right: 10px;
}

.container {
  max-width: 100%;
  min-height: 753px;
  min-width: 700px;
  border: 1px solid steelblue;
  overflow: hidden;
}

.header h3 {
  color: white;
}

.header h3:hover {
  text-shadow: 0 0 30px #fff;
  cursor: pointer;
}

.header .logo {
  height: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.header div .logo {
  position: relative;
  height: 10px;
  margin-bottom: 10px;
}

.header {
  position: sticky;
  top: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  background-color: rgb(95, 180, 88);
  height: 120px;
  z-index: 50;
}

#sidebar {
  position: sticky;
  top: 120px;
  width: 200px;
  height: 500px;
  background: whitesmoke;
  left: 0px;
  transition: all 500ms linear;
  padding: 0px;
  z-index: 50;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: black;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(95, 180, 88, 0.6);
  text-align: center;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 200px;
  cursor: pointer;
}

.card_into_side_bar {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
}

.pp_into_side_bar_card {
  height: 100%;
  border-radius: 50%;
  margin-right: 5px;
}

.flexbox_pp_name {
  display: flex;
  width: 100%;
  height: 50px;
}

.flexbox_pp_name p {
  font-size: small;
}

.div_five_stars {
  height: 50px;
  width: auto;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.flex_container_sidebar_and_content {
  display: flex;
}

.container_main_content {
  max-height: 580px;
  height: 100%;
  width: 100%;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  background: whitesmoke;
}

#profile_page_main {
  display: flex;
  padding-left: 40px;
}

#lateral_profile_page_main {
  position: relative;
  width: 30%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#main_content_profile_page_main {
  width: 75%;
  max-height: 580px;
  height: 100%;
  padding: 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 50px;
  overflow: auto;
}

.valoracion-container {
  background-color: rgb(226, 226, 226);
  width: 90%;
  max-width: 300px;
  border-radius: 25px;
  border: solid 3px gainsboro;
}

.pp_into_side_bar_card_main_content {
  border-radius: 50%;
  width: 90%;
  height: auto;
  margin: 5px;
  border: solid 8px gainsboro
}

.five_start_into_main_content {
  width: 70%;
  margin-top: -50px;
  transition: 1s;
  margin-bottom: -15px;
}

.five_start_into_main_content:hover {
  transform: scale(1.2)
}

.titleValoracion {
  font-family: "Bebas Neue";
  font-size: 30px;
}

.userProfileInfo {
  font-family: "Popper";
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.userProfileDesc {
  font-family: "Popper";
}

#text_into_bar {
  text-align: left;
  margin: 0px 20px;
  overflow: none;
}

#btn_div {
  text-align: center;
  padding: 20px;
}

.btn {
  background-color: rgb(95, 180, 88);
}

#btn_edit_profile {
  height: 20px;
  width: 5px;
}

.Logo {
  position: absolute;
  background-color: #e0e0e0;
  left: 900px;
  width: 500px;
  height: 500px;
  top: 160px;
}

.input {
  position: relative;
  background-color: #ffffff;
  color: #0fba1a;
  font-size: 40px;
  left: 100px;
  top: 200px;
}

.slogan {
  position: relative;
  background-color: #ffffff;
  left: 100px;
  top: 200px;
}

#correo {
  position: relative;
  top: 40px;
  right: -15px;
  font-size: 22px;
}

#email {
  position: relative;
  background-color: #d1d1d1;
  top: -1px;
  right: -175px;
  width: 300px;
  height: 40px;
}

#contrasena {
  position: relative;
  top: 40px;
  right: -15px;
  font-size: 22px;
}

#password {
  position: relative;
  background-color: #d1d1d1;
  top: -1px;
  right: -175px;
  width: 300px;
  height: 40px;
}

#password1 {
  position: relative;
  background-color: #d1d1d1;
  top: -20px;
  right: -175px;
  width: 300px;
  height: 40px;
}

#Entrada {
  position: relative;
  top: 50px;
  right: -150px;
  height: 7%;
  width: 200px;
  color: #000000;
  background-color: #0fba1a;
  border: 0px;
  justify-content: center;
  line-height: 160%;
  font-size: 30px;
}

.Olvido {
  position: relative;
  top: 70px;
  right: -175px;
  color: blue;
  text-decoration: underline;
}

.Nuevo {
  position: relative;
  top: 220px;
  right: -140px;
  color: blue;
  text-decoration: underline;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.problemas {
  position: relative;

  text-align: left;
  left: 200px;
}

#opciones {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
  width: 800px;
  height: 50px;
}

#opciones select {
  display: none;
  /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

textarea {
  background-color: lightgray;
  width: 800px;
  height: 180px;
}

#Enviar {
  position: absolute;

  background-color: rgb(95, 180, 88);
  border-color: rgb(95, 180, 88);
  width: 150px;
  height: 50px;
  left: 300px;

  padding: 10px;
  position: relative;
}

/*---------------------------------------------------------------------------*/

.container4buscador {
  background-color: rgb(184, 184, 184);
  width: 100%;
}

.maincontainer {
  background-color: white;
  width: 95%;
  height: fit-content;
  float: right;
  padding: 50px;
}

.mc_column {
  float: left;
  min-height: fit-content;
  height: fit-content;
  width: 50%;
}

.two_columns_buscador {
  min-height: fit-content;
  height: fit-content;
  width: 100%;
}

.two_columns_buscador:after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both;
}

.space {
  padding: 20px;
}

/*---------------------------------------------------------------------------*/

.venta {
  background-color: rgb(196, 196, 196);
  width: min-content;
  padding: 30px;
  text-align: center;
}

.venta label {
  font-size: 20px;
  font-weight: bold;
}

.imagenesarriba {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ventastar {
  float: right;
}

/*---------------------------------------------------------------------------*/

.tutobg {
  background-color: rgb(196, 196, 196);
  grid-template-columns: 260px 230px;
  display: grid;
  max-width: max-content;
  padding: 20px;
  width: fit-content;
}

.tutomaterias {
  display: inline;
  float: left;
}

.tutoright img {
  float: right;
}

/*---------------------------------------------------------------------------*/
/*para opciones de venta de producto*/
.opcionesDeVenta {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eaeded;
}

.opcionDeVenta {
  background-color: #dcdcdc;
  border-radius: 25px;
  height: 200px;
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  justify-content: space-around;
  border: 0;
  color: #000000;
}

.opcionDeVenta:hover {
  background-color: #b1b1b1;
  cursor: pointer;
}

.opcionDeVenta > h3,
div {
  margin: 0 auto 0 auto;
}

/*---------------------------------------------------------------------------*/
/*para el form de venta de producto*/

.productoForm {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #5ccb5f;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px rgb(36, 36, 36);
  color: white;
  display: block;
  max-width: 490px;
}

.productoForm label {
  display: inline-block;
  width: 50%;
}

.botonesForm {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.productoForm input {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  border: solid rgb(255, 255, 255) 2px;
  background-color: #5ccb5f;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.botonesForm input {
  margin: 0;
}

.productoForm input[type="file"] {
  border: 0;
}

.productoForm input[type="submit"],
input[type="button"] {
  background-color: rgb(57, 155, 49);
  width: fit-content;
  border-color: rgb(57, 155, 49);
  box-shadow: 2px 2px 2px rgb(95, 180, 88);
}

.productoForm input[type="submit"]:hover,
input[type="button"]:hover {
  border-color: rgb(48, 126, 40);
  background-color: rgb(48, 126, 40);
}

.productoForm input::placeholder {
  color: rgb(48, 126, 40);
}

.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Elegir foto";
  color: white;
  display: inline-block;
  background-color: rgb(57, 155, 49);
  width: fit-content;
  border-color: rgb(57, 155, 49);
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
}

.productoOpcion {
  background-color: rgb(57, 155, 49);
  width: fit-content;
  border: 0;
  color: white;
  box-shadow: 2px 2px 2px rgb(10, 17, 9);
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
}

.opcionDeVenta > h3 {
  color: #2e412e;
}

/*---------------------------------------------------------------------------*/

.page-main-content {
  width: 100%;
  height: 100%;
  position: relative;
}



/*---------------------------------------------------------------------------
para arreglar un titulo*/

.reportar-fix-titulo {
  margin: 0 0;
}
