.mainMessageUI {
    height: 500px;
    width: 1000px;
    position: absolute;
    background-color: #a2e29c;
    border: 2px solid white;
    border-radius: 5px;
    z-index: 2;

    margin: auto;
    top: 10%;
    left: 5%;
}

.internalMSG {
    height: 80%;
    width: 90%;
    top: 15%;
    left: 5%;
    position: inherit;
    background-color: #7cb477;
    border-radius: 5px;
    margin: auto;

}

.message_container {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #6b9c67d7;
}
