.faq {
  background-color: whitesmoke;
  border: solid 3px whitesmoke;
  border-radius: 25px;
  padding: 15px 15px 15px 15px;
}

.highlighted {
  color: rgb(0, 191, 255);
  cursor: pointer;
}

img {
  width: 30px;
}
