.faq {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-color: whitesmoke;
  border: solid 3px whitesmoke;
  border-radius: 25px;
  width: 450px;
  line-height: 40px;
  padding: 8px;
}

.pregunta {
  font-size: 15px;
}

.consupport {
  position: relative;
  height: auto;
  width: fit-content;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  vertical-align: top;
  margin-left: 100px;
  background-color: whitesmoke;
  border: solid 3px gainsboro;
  border-radius: 25px;
}

.EmailSupport {
  margin-top: 5%;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.PhoneSupport {
  margin-top: 5%;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.highlighted {
  color: rgb(0, 191, 255);
  cursor: pointer;
  font-weight: normal;
}

.EmailSupport img {
  width: 50%;
}
