@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.last_element_in_header {
    margin-right: 10px;
}
.container {
    max-width: 100%;
    overflow: auto;
    min-height: 700px;
    min-width: 700px;
    border: 1px solid steelblue;
}
.header h3{
    color: white;

}
.header h3:hover{
    text-shadow: 0 0 30px #fff;

}
.header .logo{
    position: relative;
    height: 100%;
    margin-bottom: 10px;

}
.header div .logo{
    position: relative;
    height: 10px;
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    background-color: rgb(95, 180, 88);
    height: 120px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-form {
    margin-bottom: 40px;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}

#sidebar {
    position: relative;
    width: 200px;
    height: 580px;
    background: whitesmoke;
    left: 0px;
    transition: all 500ms linear;
    padding: 0px;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: black;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(95, 180, 88, 0.6);
    text-align: center;
}



#sidebar .toggle-btn {
    position: absolute;
    left: 200px;
    cursor: pointer;
}

.card_into_side_bar {
    margin:0px ;
    padding: 0px;
    width: 100%;
    height: 80px;
}
.pp_into_side_bar_card{
    height: 100%;
    border-radius: 50%;
    margin-right: 5px;
}
.flexbox_pp_name{
    display: flex;
    width: 100%;
    height: 50px;
}
.flexbox_pp_name p{
    font-size: small;
}
.div_five_stars{
    height: 50px;
    width: auto;

}
footer {
    margin-top: 30px;
    text-align: center;
}
.flex_container_sidebar_and_content{
    display: flex;
}
.container_main_content{
  
}

.uvgente_right_section_border {
    border-left: 15px solid #C4C4C4;
}
.uvgente_right_section {
    padding: 40px 15px;
}
.uvgente_right_section h1 {
    font-weight: 400;
}
.uvgente_box {
    position: relative;
    overflow: auto;
    padding: 15px;
    width: 25%;
    background-color: #F2F2F2;
    margin-bottom: 30px;
}
.uvgente_box img.tutorios {
    background-color: #DCDCDC;
    padding: 15px 40px;
    width: 50%;
    float: left;
}
.uvgente_box h2 {
    margin-top: 15px;
    font-size: 30px;
}
.uvgente_box img.dot {
    bottom: 10px;
    position: absolute;
    right: 5px;
    width: 34px;
}

.tab_links {
    margin: 15px 0 30px 0;
}
.tab_links a {
    color: #000000;
    font-size: 20px;
    margin-right: 100px;
}
.tab_links a.active {
    color: #5FB458;
    border-bottom: 2px solid;
}

.formulario{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    height: 800px;
    max-width: 600px;
    background-color: whitesmoke;
}

.formulario-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.formulario-footer .accept-btn{
    position: absolute;
    bottom: 90px;
    left: 1160px;
    height: 40px;
    width: 80px;
    color: white;
    background-color: rgb(95, 180, 88);
}

#nombre-form{
    font-size: 30pt;
}

#nombre-prod{
    width: 500px;
    height: 40px;
    font-size:11pt;
}

#desc-prod{
    width: 500px;
    height: 200px;
    font-size:11pt;
}

#categoria-prod{
    width: 500px;
    height: 40px;
    font-size:11pt;
}

#archivos-prod{
    width: 500px;
    height: 40px;
    font-size:11pt;
}

#valor-prod{
    width: 200px;
    height: 40px;
    font-size:8pt;
}
